.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    grid-gap: 5em;
  }
  .product >img {
    height: 80px;
    width: 70px;
  }
  .product{
    padding: 5em;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
  }
